@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply min-h-screen relative m-0 bg-background text-foreground antialiased selection:bg-purple-100 selection:text-purple-900;
  }
}

@layer utilities {
    .text-shadow-sm {
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    }
}
